.container {
    margin: 1em auto 2em;

    
    article {
        padding: 0 2em;
        margin: auto;
        color: #2d2d2d;
        border-bottom: 1px solid #c0c0c0;
    
        .header {
            padding: 2em 0;
            border-bottom: 1px solid #c0c0c0;
            
            .heading {
                display: flex;
                justify-content: space-between;

                h1 {
                    font-size: 2.75em;
                    margin: 0;
                    margin-right: .5em;
                }

                p {
                    font-size: 1em;
                }
            }
    
            p {
                margin: .25em 0;
                font-size: 1.25em;
    
                small {
                    font-size: .75em;
                    color: #7a7a7a
                }
            }

            .contributor {
                margin: .75em 0 0 0;
                font-size: 1.25em;
                text-decoration: none;
                font-size: 1.25em;
                display: inline-block;
            }

        }
    
        .content {
            margin: 2em 6em;
        }
    }

    .socials-container {
        margin: .25em 2em;

        a {
            color: #2d2d2d;
            font-size: 1.5em;
        }
    }
    
}

//very large screens 
@media (min-width: 1024px) {
    .container {
        width: 60%;

        article {
            width: 85%;
        }
    }
}

// large screens
@media (min-width: 769px) and (max-width: 1023px) {
    .container {
        width: 80%;

        article {
            width: 85%;
        }
    }
}

// tablets 
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 80%;

        article {
            width: 85%;
        }
    }
}

// smartphones 
@media only screen and (max-width: 480px) {
    
}