.container{
    margin: 0 12vw;

    h1 {
        font-size: 72px;
        color: #2b2b2b;
    }

    a {
        text-decoration: none;
        color: #2d2d2d;
        display: block;
        width: 70%;
        padding: 2em;   
        
        &:hover{
            background-color: #ffd6e9;
        }

        h2 {
            font-size: 48px;
            margin: 0;
        }

        p {
            font-size: 24px;
            margin: .75em 0; 

            small {
                font-size: 18px;
                margin: 0;
                color: #7a7a7a;
            }
        }
    }
}