.container {
    margin: 2em 0;
    max-width: 100%;

}

//very large screens 
@media (min-width: 1024px) {
    .container {
        display: flex;
        justify-content: space-evenly;

        .category {
            display: block;
        }
    }
}

// large screens
@media (min-width: 769px) and (max-width: 1023px) {
    .container {
        
        .category {
            display: inline-block;
            margin: .25em; 
        }
    }
}

// tablets 
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        

        .category {
            display: inline-block;
            margin: .25em; 
        }
    }
}

// smartphones 
@media only screen and (max-width: 480px) {
    .container {
        

        .category {
            display: inline-block;
            margin: .25em; 
        }
    }
}