@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}

a {
    color: #7a7a7a;
}

h1, h3, h4, h5, h6 {
    color: #2d2d2d
}

h2 {
    color: #33539e
}

a>img {
    transition: transform ease-in .2s;
    border: 1px solid #c0bfbf;

    &:hover {
        transform: skew(-3deg);
    }
}