.container {
    display: block;
    padding: 1.5em;

    img {
        width: 11em; 
        height: 11em;
        border-radius: 50%;
        display: block;
        margin: 0 0 2em 0;
    }

    h1 {
        font-size: 2.5em;
        margin: 0;
    }

    h2 {
        font-size: 1.25em;
        margin: 0.1em;
    }
}

//very large screens 
@media (min-width: 1024px) {

}

// large screens
@media (min-width: 769px) and (max-width: 1023px) {

}

// tablets 
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

// smartphones 
@media only screen and (max-width: 480px) {

}